

body{
    padding:50px 100px
}
h2{
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   font-style:initial;
   background-color: aqua;
   margin-left: 300px;
   width: 400px;
   border-radius: 8px;
}
#container{
    text-align: center;
    background-color: #34d765;
    padding: 50px;
    border-radius: 25px;
}
.input_div{
    display:inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
label{
    font-size: 22px;
    background-color: aquamarine;
    border-radius: 5px;
   
}
#container2{
    background-color: rgba(0, 0, 0, 0.84);
    padding: 20px;
    margin-top: 20px;
    color: whitesmoke;
    border-radius: 20px;
}
#how{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: underline;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}